body {
    background-image: url('../images/background.jpg');
    font-family: 'Space Mono' , monospace;
    color: #ffffff;
    text-align: center;
}

#main-body {
    background-image: url('../images/frame.jpg');
    background-color: black;
    height: 665px;
    margin: 60px 0;

}

#title {
    margin: 75px 140px 0 0;
    font-size: 45px;
    font-weight: bolder;
}

#timer {
    margin: 45px 140px 0 0;
    font-size: 30px;
}


#start-button {
    font-size: 65px;
    margin: 100px 140px 0 0;
}

#question {
    margin: 45px 140px 30px 0;
    font-size: 24px;
}

.answer {
    margin:  5px 0 0 150px;
    font-size: 32px;
    height: 40px;
    width: 450px;
}

.answer:hover{
    background: lightpink;
    border: 2px blue solid; /* make this whatever you want */
    height: 45px;
    color: black;
    line-height: 45px;
    }

#start-button:hover{
    background: lightpink;
    border: 1px blue solid; /* make this whatever you want */
    height: 65px;
    width: 500px;
    color: black;
    margin-left: 125px;
    margin-top: 113px;
    line-height: 65px

    }

.close{
    background: red;
    margin: 45px 140px 0 0;
    font-size: 30px;
}

#final-right{
    margin: 45px 140px 0 0;
    font-size: 30px;
}

#final-wrong{
    margin: 0 140px 0 0;
    font-size: 30px;
}

#final-timeouts{
    margin: 0 140px 0 0;
    font-size: 30px;
}

#answer{
    margin: 45px 140px 0 0;
    font-size: 24px;
}

#gif {
    margin-right: 150px;
    width: 320px;
    height: 225px;
}